*{
    margin: 0px auto;
}
body{
    /* background: rgb(220, 239, 248); */
    background-image: url(./sunset\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: -moz-radial-gradient();
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main{
    width: 1000px;
    background: aliceblue;
    /* border: 5px solid black; */

}
#header{
    background: black;
    height: 100px;
    color: white;
    border: 3px solid black;
}
#header h1{
    padding: 30px 0 0 30px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgb(235, 245, 146);

}
.sc1{
    color: rgb(243, 247, 247);

}
.sc2{
    color: rgb(252, 36, 7);

}

#menu{
    background:antiquewhite ;
}
#menu ul li{
    display: inline-block;
    padding: 10px;
    /* background: antiquewhite; */

}
#menu ul li a{
    display: block;
    padding: 10px 40px;
    color: black;
    text-decoration:none;
   
}
#menu ul li a:hover{
    color: rgb(9, 9, 9);
    background: rgb(192, 242, 143);
  
}

#content{
    width:800px;
    /* padding: 25px; */
    min-height: 500px;
    background-color: rgb(121, 241, 157);
    float: left;
    box-sizing: border-box;
    
    
}

#sidebar{
    width:200px;
    /* padding: 25px;  */
    min-height: 500px;
    background-color: rgb(242, 178, 244);
    float:right;
    box-sizing: border-box;
    border-left: 2.5px solid rgb(6, 6, 6);


} 
.clr{
    clear:both
}

#footer{
    background-color: rgb(172, 223, 244);
    /* box-sizing: border-box; */
    padding: 10px 15px;
    text-align: center;
    border-bottom: 5px solid black;
    /* margin-top: 20px; */

}

@media screen and (max-width:1020px){
    #header{
        background-color: rgb(145, 249, 249);
        text-align: center;
        /* padding: 10px; */
        width: 100%;
        
    }
    #main{
        width: 100%;
    
    }
           

    #section{
        display: flex;
        flex-wrap: wrap;
        height: 700px;

    }
    #sidebar{
        /* color: rgb(6, 11, 0); */
        width: 100%;
   

    }
}
@media screen and (max-width:810px){
    #header{
        background-color: rgb(249, 145, 155);
        text-align: center;
        width: auto;
    }
    #main{
        width: 100%;
    }
    #menu ul li a{
        padding: 10px 20px;
    }    
    #section{
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }
    #sidebar{
        /* color: rgb(6, 11, 0); */
        width:100%;
        
   

    }
}
@media screen and (max-width:510px){
    #header{
        background-color: rgb(249, 180, 145);
        text-align: center;
    }
    
    #main{
        width: 100%;
        flex-wrap: wrap;
        float:none;
    }
    #menu ul li a{
        padding: 0px 0px;
        font-size: small;
    }   
    
    #section{
        display: flex;
        flex-wrap: wrap;
    }
    #sidebar{
        /* color: rgb(6, 11, 0); */
        width: 100%;
    
   

    }
}
